body {
  color: #020304;
  background-color: #938172;
  text-align: center;
}

img {
  border: 4px solid #626266;
  border-radius: 15px;
  height: 300px;
}

ul {
  list-style-type: none;
  padding: 10px;
}

h3 {
  font-size: 30px;
}